openapi: '3.0.3'
info:
  title: Tastile Core API
  description: |
    Execution control engine API for the Tastile multi-platform system.
    All clients (web, desktop, CLI, AI agents) use this same Command surface.

    ## Authentication
    Protected endpoints require a Cognito JWT Bearer token in the Authorization header.
    For SSE endpoints, the token is passed as a query parameter `?access_token=<jwt>`.
  version: 1.0.0
  contact:
    name: Tastile
    url: https://tastile.app

servers:
  - url: https://api.tastile.app
    description: Production
  - url: http://127.0.0.1:3140
    description: Local development

tags:
  - name: Public
    description: Health and status endpoints (no auth required)
  - name: Auth
    description: Authentication and session management
  - name: Commands
    description: Tile and system command endpoints (auth required)
  - name: Read
    description: Data read endpoints (auth required)
  - name: Views
    description: Pre-computed view endpoints (auth required)
  - name: Debug
    description: Debug endpoints (auth required, non-production only)

security:
  - BearerAuth: []

paths:
  # ─── Public Endpoints ──────────────────────────────────────────────────────
  /health:
    get:
      tags: [Public]
      summary: Health check
      operationId: getHealth
      security: []
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
                example: ok

  /ready:
    get:
      tags: [Public]
      summary: Readiness check
      operationId: getReady
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadyResponse'

  /version:
    get:
      tags: [Public]
      summary: Version information
      operationId: getVersion
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionResponse'

  /read/runtime-paths:
    get:
      tags: [Public]
      summary: Runtime path information
      operationId: getRuntimePaths
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimePathsResponse'

  # ─── Auth Endpoints ────────────────────────────────────────────────────────
  /auth/oauth/start:
    post:
      tags: [Auth]
      summary: Start OAuth flow
      operationId: startOAuth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartOAuthRequest'
      responses:
        '200':
          description: OAuth flow started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartOAuthResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /auth/oauth/status:
    get:
      tags: [Auth]
      summary: Check OAuth flow status
      operationId: getOAuthStatus
      security: []
      parameters:
        - name: flow_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OAuth flow status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthStatusResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /auth/oauth/exchange:
    post:
      tags: [Auth]
      summary: Exchange OAuth code
      operationId: exchangeOAuthCode
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExchangeOAuthCodeRequest'
      responses:
        '200':
          description: Session created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

  /auth/callback:
    get:
      tags: [Auth]
      summary: OAuth callback (HTML page)
      operationId: oauthCallback
      security: []
      parameters:
        - name: code
          in: query
          schema:
            type: string
        - name: state
          in: query
          schema:
            type: string
        - name: flow_id
          in: query
          schema:
            type: string
        - name: error
          in: query
          schema:
            type: string
        - name: error_description
          in: query
          schema:
            type: string
      responses:
        '200':
          description: HTML page with auth result
          content:
            text/html:
              schema:
                type: string

  /auth/signin:
    post:
      tags: [Auth]
      summary: Sign in with email/password
      operationId: signIn
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignInRequest'
      responses:
        '200':
          description: Session created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/signup:
    post:
      tags: [Auth]
      summary: Sign up with email/password
      operationId: signUp
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignUpRequest'
      responses:
        '200':
          description: Session created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

  /auth/signout:
    post:
      tags: [Auth]
      summary: Sign out
      operationId: signOut
      responses:
        '200':
          description: Signed out
          content:
            application/json:
              schema:
                type: object
                nullable: true

  /auth/session:
    get:
      tags: [Auth]
      summary: Get current session
      operationId: getSession
      responses:
        '200':
          description: Current session or null
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionResponse'
                nullable: true

  /auth/tile-quota:
    get:
      tags: [Auth]
      summary: Get tile quota
      operationId: getTileQuota
      responses:
        '200':
          description: Tile quota information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TileQuotaResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/session/restore:
    post:
      tags: [Auth]
      summary: Restore session from client
      operationId: restoreSession
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestoreSessionRequest'
      responses:
        '200':
          description: Session restored
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

  # ─── Command Endpoints ─────────────────────────────────────────────────────
  /commands/tile/create:
    post:
      tags: [Commands]
      summary: Create a new tile
      operationId: createTile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTileRequest'
      responses:
        '201':
          description: Tile created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandResponse'
        '409':
          description: Conflict (fixed-time overlap)
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommandResponse'
                  - type: object
                    properties:
                      prompt:
                        $ref: '#/components/schemas/ConflictPrompt'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /commands/tile/start:
    post:
      tags: [Commands]
      summary: Start a tile
      operationId: startTile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TileIdRequest'
      responses:
        '200':
          description: Tile started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /commands/tile/complete:
    post:
      tags: [Commands]
      summary: Complete a tile
      operationId: completeTile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompleteTileRequest'
      responses:
        '200':
          description: Tile completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /commands/tile/defer:
    post:
      tags: [Commands]
      summary: Defer a tile
      operationId: deferTile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeferTileRequest'
      responses:
        '200':
          description: Tile deferred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandResponse'

  /commands/tile/delete:
    post:
      tags: [Commands]
      summary: Delete a tile
      operationId: deleteTile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TileIdRequest'
      responses:
        '200':
          description: Tile deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandResponse'

  /commands/tile/update:
    post:
      tags: [Commands]
      summary: Update a tile (delete + recreate)
      operationId: updateTile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTileRequest'
      responses:
        '200':
          description: Tile updated (new tile_id in response)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /commands/tile/extend:
    post:
      tags: [Commands]
      summary: Extend current work phase
      operationId: extendPhase
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExtendPhaseRequest'
      responses:
        '200':
          description: Phase extended
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /commands/memo/attach:
    post:
      tags: [Commands]
      summary: Attach memo to tile
      operationId: attachMemo
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemoRequest'
      responses:
        '200':
          description: Memo attached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandResponse'

  /commands/break/start:
    post:
      tags: [Commands]
      summary: Start a break
      operationId: startBreak
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartBreakRequest'
      responses:
        '200':
          description: Break started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandResponse'

  /commands/break/end:
    post:
      tags: [Commands]
      summary: End current break
      operationId: endBreak
      responses:
        '200':
          description: Break ended
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandResponse'

  /commands/prompt/respond-startup-recovery:
    post:
      tags: [Commands]
      summary: Respond to startup recovery prompt
      operationId: respondStartupRecovery
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RespondStartupRecoveryRequest'
      responses:
        '200':
          description: Response recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandResponse'

  /commands/prompt/request:
    post:
      tags: [Commands]
      summary: Request prompt for specific tile
      operationId: requestPrompt
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestPromptRequest'
      responses:
        '200':
          description: Prompt returned (may be null)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestPromptResponse'

  /commands/tick:
    post:
      tags: [Commands]
      summary: Trigger a tick (process pending events)
      operationId: triggerTick
      responses:
        '202':
          description: Tick accepted
        '500':
          $ref: '#/components/responses/InternalServerError'

  /commands/tick-at:
    post:
      tags: [Commands]
      summary: Trigger tick at specific time
      operationId: triggerTickAt
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TickAtRequest'
      responses:
        '202':
          description: Tick accepted
        '400':
          $ref: '#/components/responses/BadRequest'

  /commands/tick-range:
    post:
      tags: [Commands]
      summary: Trigger ticks over time range
      operationId: triggerTickRange
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TickRangeRequest'
      responses:
        '202':
          description: Tick range accepted
        '400':
          $ref: '#/components/responses/BadRequest'

  # ─── Read Endpoints ────────────────────────────────────────────────────────
  /read/tiles:
    get:
      tags: [Read]
      summary: Get all tiles
      operationId: getTiles
      parameters:
        - name: view_mode
          in: query
          schema:
            type: string
            enum: [by_state, by_group, by_project, by_tag]
            default: by_state
        - name: lifecycle
          in: query
          schema:
            type: string
            enum: [ready, started, done, closed]
        - name: limit
          in: query
          schema:
            type: integer
        - name: search
          in: query
          schema:
            type: string
        - name: exclude_future
          in: query
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Tile list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TilesResponse'

  /read/tile/{id}:
    get:
      tags: [Read]
      summary: Get tile by ID
      operationId: getTileById
      parameters:
        - $ref: '#/components/parameters/TileId'
      responses:
        '200':
          description: Tile or null
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TileView'
                nullable: true

  /read/tile/{id}/editable:
    get:
      tags: [Read]
      summary: Get editable tile data
      operationId: getEditableTileById
      parameters:
        - $ref: '#/components/parameters/TileId'
      responses:
        '200':
          description: Editable tile or null
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EditableTileView'
                nullable: true

  /read/tiles-in-progress:
    get:
      tags: [Read]
      summary: Get tiles currently in progress
      operationId: getTilesInProgress
      responses:
        '200':
          description: In-progress tiles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TilesInProgressResponse'

  /read/active-tile:
    get:
      tags: [Read]
      summary: Get currently active tile
      operationId: getActiveTile
      responses:
        '200':
          description: Active tile info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiveTileResponse'

  /read/execution:
    get:
      tags: [Read]
      summary: Get execution state
      operationId: getExecution
      responses:
        '200':
          description: Execution state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionResponse'

  /read/execution-view:
    get:
      tags: [Read]
      summary: Get execution view (enriched)
      operationId: getExecutionView
      responses:
        '200':
          description: Execution view
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionView'

  /read/events/state:
    get:
      tags: [Read]
      summary: SSE stream of state events
      operationId: streamStateEvents
      description: |
        Server-Sent Events endpoint for real-time state updates.
        Token is passed as query parameter because browser EventSource cannot set headers.
      parameters:
        - name: access_token
          in: query
          required: true
          schema:
            type: string
          description: JWT access token
      responses:
        '200':
          description: SSE stream
          content:
            text/event-stream:
              schema:
                type: string
          headers:
            Cache-Control:
              schema:
                type: string
                example: no-cache
            Connection:
              schema:
                type: string
                example: keep-alive

  # ─── View Endpoints ────────────────────────────────────────────────────────
  /views/tile-list:
    get:
      tags: [Views]
      summary: Get tile list view
      operationId: getTileListView
      parameters:
        - name: view_mode
          in: query
          schema:
            type: string
            enum: [by_state, by_group, by_project, by_tag]
            default: by_state
        - name: lifecycle
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
        - name: search
          in: query
          schema:
            type: string
        - name: exclude_future
          in: query
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Tile list view
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TilesResponse'

  /views/active-tile:
    get:
      tags: [Views]
      summary: Get active tile view
      operationId: getActiveTileView
      responses:
        '200':
          description: Active tile view
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiveTileResponse'

  /views/pending-prompt:
    get:
      tags: [Views]
      summary: Get pending prompt
      operationId: getPendingPrompt
      responses:
        '200':
          description: Pending prompt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PendingPromptResponse'

  /views/timeline/today:
    get:
      tags: [Views]
      summary: Get today's timeline
      operationId: getTodayTimeline
      responses:
        '200':
          description: Timeline items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimelineTodayResponse'

  /views/calendar/day:
    get:
      tags: [Views]
      summary: Get day calendar projection
      operationId: getCalendarDay
      parameters:
        - name: anchor
          in: query
          schema:
            type: string
            format: date-time
          description: RFC3339 anchor datetime
        - name: tz_offset
          in: query
          schema:
            type: integer
          description: Timezone offset in seconds
      responses:
        '200':
          description: Calendar projection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarProjection'

  /views/calendar/week:
    get:
      tags: [Views]
      summary: Get week calendar projection
      operationId: getCalendarWeek
      parameters:
        - name: anchor
          in: query
          schema:
            type: string
            format: date-time
        - name: tz_offset
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Calendar projection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarProjection'

  /views/calendar/month:
    get:
      tags: [Views]
      summary: Get month calendar projection
      operationId: getCalendarMonth
      parameters:
        - name: anchor
          in: query
          schema:
            type: string
            format: date-time
        - name: tz_offset
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Calendar projection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarProjection'

  /views/calendar/year:
    get:
      tags: [Views]
      summary: Get year calendar projection
      operationId: getCalendarYear
      parameters:
        - name: anchor
          in: query
          schema:
            type: string
            format: date-time
        - name: tz_offset
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Calendar projection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarProjection'

  /prompts/current:
    get:
      tags: [Views]
      summary: Get current prompt
      operationId: getCurrentPrompt
      responses:
        '200':
          description: Current prompt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PendingPromptResponse'

  # ─── Debug Endpoints ───────────────────────────────────────────────────────
  /debug/events:
    get:
      tags: [Debug]
      summary: Get all events (non-production only)
      operationId: getEvents
      responses:
        '200':
          description: Events list
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items:
                      type: object
                  count:
                    type: integer

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Cognito JWT token

  parameters:
    TileId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Tile UUID

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Not authenticated
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    UnprocessableEntity:
      description: Validation error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CommandResponse'
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    # ─── Error Types ──────────────────────────────────────────────────────────
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: string

    # ─── Public Schemas ───────────────────────────────────────────────────────
    ReadyResponse:
      type: object
      required: [ready]
      properties:
        ready:
          type: boolean
          example: true

    VersionResponse:
      type: object
      required: [version, app, binary_sha256]
      properties:
        version:
          type: string
          example: "0.2.0"
        app:
          type: string
          example: "tastile-daemon"
        binary_sha256:
          type: string
          description: SHA256 hash of the binary

    RuntimePathsResponse:
      type: object
      required: [profile_name, app_data_dir, db_path, session_path, daemon_startup_log_path, daemon_executable_path]
      properties:
        profile_name:
          type: string
        app_data_dir:
          type: string
        db_path:
          type: string
        session_path:
          type: string
        daemon_startup_log_path:
          type: string
        daemon_executable_path:
          type: string

    # ─── Auth Schemas ─────────────────────────────────────────────────────────
    StartOAuthRequest:
      type: object
      required: [provider]
      properties:
        provider:
          type: string
          example: google
        scopes:
          type: string
        query_params:
          type: object
          additionalProperties:
            type: string

    StartOAuthResponse:
      type: object
      required: [auth_url, flow_id, provider]
      properties:
        auth_url:
          type: string
          format: uri
        flow_id:
          type: string
        provider:
          type: string

    OAuthStatusResponse:
      type: object
      required: [flow_id, completed]
      properties:
        flow_id:
          type: string
        completed:
          type: boolean
        error:
          type: string
          nullable: true

    ExchangeOAuthCodeRequest:
      type: object
      required: [code]
      properties:
        code:
          type: string
        state:
          type: string

    SignInRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password

    SignUpRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password

    SessionResponse:
      type: object
      required: [user_id, email, access_token, refresh_token]
      properties:
        user_id:
          type: string
        email:
          type: string
          format: email
        access_token:
          type: string
        refresh_token:
          type: string
        provider_token:
          type: string
          nullable: true
        provider_refresh_token:
          type: string
          nullable: true
        expires_at:
          type: string
          format: date-time
          nullable: true

    RestoreSessionRequest:
      type: object
      required: [user_id, email, access_token, refresh_token]
      properties:
        user_id:
          type: string
        email:
          type: string
        access_token:
          type: string
        refresh_token:
          type: string
        provider_token:
          type: string
          nullable: true
        provider_refresh_token:
          type: string
          nullable: true
        expires_at:
          type: string
          format: date-time
          nullable: true

    TileQuotaResponse:
      type: object
      required: [plan, tile_count, max_tiles, remaining_tiles, limit_reached, source]
      properties:
        plan:
          type: string
        tile_count:
          type: integer
          format: int64
        max_tiles:
          type: integer
          format: int64
        remaining_tiles:
          type: integer
          format: int64
        limit_reached:
          type: boolean
        source:
          type: string

    # ─── Condition Vector Schemas ─────────────────────────────────────────────
    TemporalConditions:
      type: object
      properties:
        release_at:
          type: string
          format: date-time
          nullable: true
        due_at:
          type: string
          format: date-time
          nullable: true
        fixed_start:
          type: string
          format: date-time
          nullable: true
        fixed_end:
          type: string
          format: date-time
          nullable: true
        active_start:
          type: string
          format: date-time
          nullable: true
        active_end:
          type: string
          format: date-time
          nullable: true

    ObjectiveConditions:
      type: object
      required: [objective_mode]
      properties:
        objective_mode:
          type: string
          enum: [finish_once, recurring, maximize_within_interval, label_only]
        target_work_min:
          type: integer
          nullable: true
        target_rest_min:
          type: integer
          nullable: true
        done_rule:
          type: string
          enum: [manual, time_reached, interval_end]
          nullable: true
        recurrence:
          $ref: '#/components/schemas/RecurrenceModel'
          nullable: true

    RecurrenceModel:
      type: object
      required: [generator, window, selector]
      properties:
        generator:
          $ref: '#/components/schemas/RecurrenceGenerator'
        window:
          $ref: '#/components/schemas/RecurrenceWindow'
        selector:
          $ref: '#/components/schemas/RecurrenceSelector'

    RecurrenceGenerator:
      type: object
      required: [step_min]
      properties:
        step_min:
          type: integer
        anchor_epoch_min:
          type: integer
          nullable: true

    RecurrenceWindow:
      type: object
      required: [start_offset_min, end_offset_min]
      properties:
        start_offset_min:
          type: integer
        end_offset_min:
          type: integer

    RecurrenceSelector:
      type: object
      properties:
        expression:
          type: string
          nullable: true

    InterruptionConditions:
      type: object
      required: [interrupt_penalty, resume_penalty, break_splits_work, external_interrupt_only]
      properties:
        interrupt_penalty:
          type: integer
        resume_penalty:
          type: integer
        break_splits_work:
          type: boolean
        external_interrupt_only:
          type: boolean

    AutomationConditions:
      type: object
      required: [prompt_on_start, prompt_on_end, auto_start_allowed, auto_end_allowed]
      properties:
        prompt_on_start:
          type: boolean
        prompt_on_end:
          type: boolean
        auto_start_allowed:
          type: boolean
        auto_end_allowed:
          type: boolean

    AnnotationConditions:
      type: object
      required: [semantic_role, labels, timed_labels, generated_by_recalc]
      properties:
        semantic_role:
          type: string
          enum: [work, break, label]
        labels:
          type: array
          items:
            type: string
        timed_labels:
          type: array
          items:
            $ref: '#/components/schemas/TimedLabel'
        generated_by_recalc:
          type: boolean

    TimedLabel:
      type: object
      required: [label]
      properties:
        label:
          type: string
        start_at:
          type: string
          format: date-time
          nullable: true
        end_at:
          type: string
          format: date-time
          nullable: true

    # ─── Tile View Schemas ────────────────────────────────────────────────────
    TileView:
      type: object
      required: [id, title, lifecycle, worked_minutes, break_minutes, semantic_role, labels, objective_mode, temporal, objective, interruption, automation, annotation]
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        lifecycle:
          type: string
          enum: [ready, started, done, closed]
        next_action:
          type: string
          nullable: true
        done_definition:
          type: string
          nullable: true
        worked_minutes:
          type: integer
          format: int64
        break_minutes:
          type: integer
          format: int64
        semantic_role:
          type: string
          enum: [work, break, label]
        labels:
          type: array
          items:
            type: string
        objective_mode:
          type: string
          enum: [finish_once, recurring, maximize_within_interval, label_only]
        target_work_min:
          type: integer
          nullable: true
        target_rest_min:
          type: integer
          nullable: true
        done_rule:
          type: string
          enum: [manual, time_reached, interval_end]
          nullable: true
        resume_note:
          type: string
          nullable: true
        prompt:
          $ref: '#/components/schemas/PromptView'
          nullable: true
        projected_next_start_at:
          type: string
          format: date-time
          nullable: true
        temporal:
          $ref: '#/components/schemas/TemporalConditions'
        objective:
          $ref: '#/components/schemas/ObjectiveConditions'
        interruption:
          $ref: '#/components/schemas/InterruptionConditions'
        automation:
          $ref: '#/components/schemas/AutomationConditions'
        annotation:
          $ref: '#/components/schemas/AnnotationConditions'
        recurrence:
          $ref: '#/components/schemas/RecurrenceView'
          nullable: true

    RecurrenceView:
      type: object
      required: [step_min, window_start_min, window_end_min]
      properties:
        step_min:
          type: integer
        window_start_min:
          type: integer
        window_end_min:
          type: integer
        expression:
          type: string
          nullable: true

    EditableTileView:
      type: object
      required: [id, title, temporal, objective, interruption, automation, annotation]
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        next_action:
          type: string
          nullable: true
        done_definition:
          type: string
          nullable: true
        temporal:
          $ref: '#/components/schemas/TemporalConditions'
        objective:
          $ref: '#/components/schemas/ObjectiveConditions'
        interruption:
          $ref: '#/components/schemas/InterruptionConditions'
        automation:
          $ref: '#/components/schemas/AutomationConditions'
        annotation:
          $ref: '#/components/schemas/AnnotationConditions'

    # ─── Prompt Schemas ───────────────────────────────────────────────────────
    PromptView:
      type: object
      required: [prompt_id, kind, severity, title, body, why, reasons, actions, stale]
      properties:
        prompt_id:
          type: string
        kind:
          type: string
          enum: [start, end, break_end]
        severity:
          type: string
          enum: [soft, elevated, critical]
        tile_id:
          type: string
          format: uuid
          nullable: true
        title:
          type: string
        body:
          type: string
        why:
          type: string
        suggested_minutes:
          type: integer
          nullable: true
        reasons:
          type: array
          items:
            type: string
            enum:
              - resume_in_flight
              - due_soon
              - due_overdue
              - fixed_start_soon
              - fixed_start_now
              - auto_started
              - newly_released
              - has_concrete_next_action
              - deferred_window_expired
              - work_phase_expired
              - break_phase_expired
              - startup_recovery_work_confirmation
              - startup_recovery_fixed_execution_confirmation
              - user_requested
              - another_tile_active
        actions:
          type: array
          items:
            $ref: '#/components/schemas/PromptActionView'
        default_action_id:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
          nullable: true
        triggered_at:
          type: string
          format: date-time
          nullable: true
        default_action_applied_at:
          type: string
          format: date-time
          nullable: true
        expires_at:
          type: string
          format: date-time
          nullable: true
        stale:
          type: boolean

    PromptActionView:
      type: object
      required: [id, label]
      properties:
        id:
          type: string
          enum:
            - START
            - START_BREAK_PARALLEL
            - START_BREAK_SPLIT
            - START_BREAK_SPLIT_EXTEND
            - COMPLETE_PHASE
            - COMPLETE_TILE
            - EXTEND
            - DEFER
            - END_BREAK
            - CONFIRM_CONTINUE
            - CONFIRM_STOP_AT
            - CONFIRM_EXECUTED
            - CONFIRM_SKIPPED
            - DISMISS
        label:
          type: string

    ConflictPrompt:
      type: object
      required: [kind, title, message, options]
      properties:
        kind:
          type: string
          example: create_conflict
        title:
          type: string
        message:
          type: string
        options:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              label:
                type: string

    # ─── Command Request Schemas ──────────────────────────────────────────────
    CreateTileRequest:
      type: object
      required: [title]
      properties:
        title:
          type: string
        next_action:
          type: string
          nullable: true
        done_definition:
          type: string
          nullable: true
        temporal:
          $ref: '#/components/schemas/TemporalConditions'
          nullable: true
        objective:
          $ref: '#/components/schemas/ObjectiveConditions'
          nullable: true
        interruption:
          $ref: '#/components/schemas/InterruptionConditions'
          nullable: true
        automation:
          $ref: '#/components/schemas/AutomationConditions'
          nullable: true
        annotation:
          $ref: '#/components/schemas/AnnotationConditions'
          nullable: true
        conflict_resolution:
          type: string
          enum: [keep_overlap, auto_nearest, auto_next_day, manual_adjust]
          nullable: true

    TileIdRequest:
      type: object
      required: [tile_id]
      properties:
        tile_id:
          type: string
          format: uuid

    UpdateTileRequest:
      type: object
      required: [tile_id]
      properties:
        tile_id:
          type: string
          format: uuid
        title:
          type: string
          nullable: true
        next_action:
          type: string
          nullable: true
          description: Set to string to update, null to clear
        done_definition:
          type: string
          nullable: true
          description: Set to string to update, null to clear
        temporal:
          $ref: '#/components/schemas/TemporalConditions'
          nullable: true
        objective:
          $ref: '#/components/schemas/ObjectiveConditions'
          nullable: true
        interruption:
          $ref: '#/components/schemas/InterruptionConditions'
          nullable: true
        automation:
          $ref: '#/components/schemas/AutomationConditions'
          nullable: true
        annotation:
          $ref: '#/components/schemas/AnnotationConditions'
          nullable: true

    CompleteTileRequest:
      type: object
      properties:
        tile_id:
          type: string
          format: uuid
          nullable: true
        next_tile_id:
          type: string
          format: uuid
          nullable: true
        scope:
          type: string
          enum: [tile, phase]
          nullable: true

    DeferTileRequest:
      type: object
      required: [tile_id]
      properties:
        tile_id:
          type: string
          format: uuid
        reason:
          type: string
          nullable: true
        minutes:
          type: integer
          nullable: true

    ExtendPhaseRequest:
      type: object
      required: [delta_min]
      properties:
        delta_min:
          type: integer
        reason:
          type: string
          nullable: true

    MemoRequest:
      type: object
      required: [text]
      properties:
        tile_id:
          type: string
          format: uuid
          nullable: true
        text:
          type: string
        memo_kind:
          type: string
          enum: [resume_note, scratch, log]
          nullable: true

    StartBreakRequest:
      type: object
      properties:
        break_min:
          type: integer
          nullable: true
        reason:
          type: string
          nullable: true
        insertion_mode:
          type: string
          enum: [parallel, split, split_and_extend]
          nullable: true

    RespondStartupRecoveryRequest:
      type: object
      required: [prompt_id, tile_id, action_id]
      properties:
        prompt_id:
          type: string
          format: uuid
        tile_id:
          type: string
          format: uuid
        action_id:
          type: string
          enum: [CONFIRM_CONTINUE, CONFIRM_STOP_AT, CONFIRM_EXECUTED, CONFIRM_SKIPPED, DISMISS]
        stop_at:
          type: string
          format: date-time
          nullable: true

    RequestPromptRequest:
      type: object
      required: [tile_id]
      properties:
        tile_id:
          type: string
          format: uuid

    TickAtRequest:
      type: object
      required: [at]
      properties:
        at:
          type: string
          format: date-time

    TickRangeRequest:
      type: object
      required: [start_at, end_at]
      properties:
        start_at:
          type: string
          format: date-time
        end_at:
          type: string
          format: date-time
        step_seconds:
          type: integer
          default: 60

    # ─── Command Response Schemas ─────────────────────────────────────────────
    CommandResponse:
      type: object
      required: [ok, events]
      properties:
        ok:
          type: boolean
        events:
          type: array
          items:
            type: string
        tile_id:
          type: string
          format: uuid
          nullable: true
        prompt:
          type: object
          nullable: true
        error:
          type: string
          nullable: true

    RequestPromptResponse:
      type: object
      required: [ok]
      properties:
        ok:
          type: boolean
        prompt:
          $ref: '#/components/schemas/PromptView'
          nullable: true
        error:
          type: string
          nullable: true

    # ─── Read Response Schemas ────────────────────────────────────────────────
    TilesResponse:
      type: object
      required: [tiles]
      properties:
        tiles:
          type: array
          items:
            $ref: '#/components/schemas/TileView'
        next_actionable_tile_id:
          type: string
          format: uuid
          nullable: true
        next_actionable_start_at:
          type: string
          format: date-time
          nullable: true

    TilesInProgressResponse:
      type: object
      required: [tiles, count]
      properties:
        tiles:
          type: array
          items:
            $ref: '#/components/schemas/TileView'
        count:
          type: integer

    ActiveTileResponse:
      type: object
      required: [phase]
      properties:
        tile:
          $ref: '#/components/schemas/TileView'
          nullable: true
        phase:
          type: string
          enum: [work, break, idle]
        phase_started_at:
          type: string
          format: date-time
          nullable: true
        phase_ends_at:
          type: string
          format: date-time
          nullable: true
        resume_note:
          type: string
          nullable: true
        next_visible_action:
          type: string
          enum: [start, complete_or_extend, end_break]
          nullable: true

    ExecutionResponse:
      type: object
      required: [phase_kind, tile_count, event_count]
      properties:
        active_tile_id:
          type: string
          format: uuid
          nullable: true
        phase_kind:
          type: string
          enum: [work, break, idle]
        phase_started_at:
          type: string
          format: date-time
          nullable: true
        phase_ends_at:
          type: string
          format: date-time
          nullable: true
        pending_prompt_id:
          type: string
          nullable: true
        tile_count:
          type: integer
        event_count:
          type: integer

    ExecutionView:
      type: object
      required: [tiles_in_progress, is_working, is_on_break, is_idle, tile_count, event_count]
      properties:
        tiles_in_progress:
          type: array
          items:
            $ref: '#/components/schemas/TileView'
        main_tile:
          $ref: '#/components/schemas/TileView'
          nullable: true
        is_working:
          type: boolean
        is_on_break:
          type: boolean
        is_idle:
          type: boolean
        main_tile_started_at:
          type: string
          format: date-time
          nullable: true
        main_tile_ends_at:
          type: string
          format: date-time
          nullable: true
        pending_prompt_id:
          type: string
          nullable: true
        pending_prompt_default_action_in_progress:
          type: boolean
        tile_count:
          type: integer
        event_count:
          type: integer

    PendingPromptResponse:
      type: object
      properties:
        prompt:
          $ref: '#/components/schemas/PromptView'
          nullable: true

    # ─── Timeline Schemas ─────────────────────────────────────────────────────
    TimelineTodayResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/TimelineItemView'

    TimelineItemView:
      type: object
      required: [kind, title, started_at, duration_min, is_active]
      properties:
        kind:
          type: string
          enum: [work, break, label, scheduled]
        tile_id:
          type: string
          format: uuid
          nullable: true
        semantic_role:
          type: string
          enum: [work, break, label]
          nullable: true
        title:
          type: string
        started_at:
          type: string
          format: date-time
        ended_at:
          type: string
          format: date-time
          nullable: true
        duration_min:
          type: integer
          format: int64
        is_active:
          type: boolean

    # ─── Calendar Schemas ─────────────────────────────────────────────────────
    CalendarProjection:
      type: object
      required: [view, range_start, range_end, grid_start, grid_end, blocks, all_day_spans, overflow_counters, month_summaries]
      properties:
        view:
          type: string
          enum: [day, week, month, year]
        range_start:
          type: string
          format: date-time
        range_end:
          type: string
          format: date-time
        grid_start:
          type: string
          format: date-time
        grid_end:
          type: string
          format: date-time
        blocks:
          type: array
          items:
            $ref: '#/components/schemas/CalendarBlock'
        all_day_spans:
          type: array
          items:
            $ref: '#/components/schemas/CalendarBlock'
        overflow_counters:
          type: object
          additionalProperties:
            type: integer
        month_summaries:
          type: array
          items:
            $ref: '#/components/schemas/CalendarMonthSummary'

    CalendarBlock:
      type: object
      required: [title, kind, is_active, start_at, end_at, semantic_role, all_day, ownership, editable, source_label]
      properties:
        tile_id:
          type: string
          format: uuid
          nullable: true
        title:
          type: string
        kind:
          type: string
          enum: [work, break, label, scheduled]
        is_active:
          type: boolean
        start_at:
          type: string
          format: date-time
        end_at:
          type: string
          format: date-time
        semantic_role:
          type: string
          enum: [work, break, label]
        all_day:
          type: boolean
        ownership:
          type: string
          enum: [tastile_owned, remote_owned, synthetic]
        editable:
          type: boolean
        source_label:
          type: string

    CalendarMonthSummary:
      type: object
      required: [month, item_count]
      properties:
        month:
          type: string
          example: "2026-06"
        item_count:
          type: integer
